<head>
<style>
    *{
        font-family: "verdana";
    }

    #date{
        background-color: #EFE4F2;
        text-align: center;
        color: #742F8B;

        
    }
    #deel1{
        background-color: #EFE4F2;
    }
    #deel2{
        background-color: #FCFAD7 ;
    }
    #deel3{
        background-color: #E7F2FD;
    }
    #deel4{
        background-color: #E9F3DB;
    }
    #deel5{
        background-color: #F1E8E9;
    }
    #D1 titel{
        color: #EFC90C;
    }
    #D2 titel{
        color: #EFC90C;
    }
    .text{

        width: "322"; 
        margin: auto;
    }
    .content{
        
        background-color: white;        
    }
    .D1T{
        color: #742F8B;        
    }
    .D2T{
        color: #EFC90C;        
    }
    .D3T{
        color: #445381;        
    }
    .D4T{
        color: #8BC053;        
    }
    .D5T{
        color: #85565E;        
    }    
</style>
</head>

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>    
            <td align="center">
                <table id = "content" width="729" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr id="head">
                                    <td id ="logo" width ="530">
                                        <img width="528" src="images/logo.png">
                                    </td>
                                    <td width ="193">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr height="136"></tr>
                                            <tr height="42">
                                                <td><img src="images/main%20header%20date%20left.png"</td>
                                                <td width ="106" id="date"><b>01/01/2014</b></td>
                                                <td><img src="images/main%20header%20date%20right.png"</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><img src="images/header%20border.png"></td>                                    
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td id="deel1">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="36"></td>
                                    <td >
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D1%20top.png"></td></tr>
                                            <tr>
                                                <td>
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td colspan="2"><div class="D1T"></D1><b>   
                                                            Welcome note from IBVT
                                                            </b></div></td></tr>
                                                        <tr><td colspan="2"><img src ="images/D1%20P1.png"></td></tr>
                                            <tr><td colspan="2" width="322"><div class="text">When asked to build housing for 100 families in Chile ten years ago, Alejandro Aravena looked to an unusual inspiration: the wisdom of favelas and slums. Rather than building a large building with small units, he built flexible half-homes that each family could expand on. It was a complex problem, but with a simple solution — one that he arrived at by working with the families themselves. With a chalkboard and beautiful images of his designs, Aravena walks us through three projects where clever rethinking led to beautiful design with great benefit.</div></td></tr>
                                                        <tr><td colspan="2"><hr></td></tr>
                                                        <tr>
                                                            <td><img src="images/D1%20Like.png"</td>
                                                            <td>0 people like this</td>
                                                        </tr>  
                                                    </table>                                              
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D1%20bottom.png"></td></tr>
                                        </table>
                                    </td>
                                    <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D1%20top.png"></td></tr>
                                            <tr>
                                                <td>
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td colspan="2"><div class="D1T" ><b>
                                                            Monthly team news update
                                                            </b></div></td></tr>
                                                        <tr>
                                                            <td width="109">
                                                                <img src="images/D1%20P2.png">
                                                            </td>
                                                            <td width="215">
                                                                <div class="text">That doesn’t sound like a lot, but think about it: if you pack on 2 pounds annually...</div>
                                                            </td>                                                           
                                                        </tr>
                                                        <tr><td colspan="2"><hr></td></tr>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                             <img src="images/D1%20Like.png">
                                                                        </td>
                                                                        <td width="125">
                                                                            0 people like this
                                                                        </td>
                                                                    </tr>        
                                                                </table> 
                                                            </td>
                                                            <td width="141"><img  width="141" src="images/D1%20RM.png"></td>

                                                        </tr>          
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D1%20tussen.png"></td></tr>
                                            <tr>
                                                <td>
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td colspan="2"><div class="D1T"><b>Immunology news</b></div></td></tr>
                                                        <tr><td colspan="2"><div class="text"><p>With a chalkboard and beautiful images of his designs, Aravena walks us through three projects where clever rethinking led to beautiful design with great benefit. Rather than building a large building with small units, he built flexible half-homes that each family could expand on.</p> </div></td></tr>

                                                        <tr><td colspan="2"><hr></td></tr>
                                                        <tr>
                                                            <td>                                                                                                                           <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D1%20Like.png">
                                                                                 
                                                                        </td>
                                                                        <td>
                                                                            0 people like this
                                                                        </td>
                                                                    </tr>        
                                                                </table> </td>
                                                            <td><img src="images/D1%20RM.png"></td>

                                                        </tr>          
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D1%20bottom.png"></td></tr>
                                        </table></td>
                                    <td width="36"></td>                            
                                </tr>
                            </table>                        
                        </td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%201%20footer.png"</td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%202%20header.png"></td>
                    </tr>
                    <tr>
                        <td id="deel2">                           
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="36"></td>
                                    <td >
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D2%20top.png"></td></tr>
                                            <tr>
                                                <td>                                                    
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D2T"><b>How to Burn Off 24 Holiday Foods</b></div></td></tr>
                                                        <tr><td><img src="images/D2%20P1.png"</td></tr>
                                                        <tr><td><div class="text">That doesn’t sound like a lot, but think about it: if you pack on 2 pounds annually on fattening holiday foods, then you’ll be up 10 pounds by year five.</div></td></tr>
                                                        <tr><td>                                                               <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D2%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D2%20RM.png"></td></tr>          
                                                    </table></td>
                                            </tr>
                                            <tr><td><img src="images/D2%20bottom.png"></td></tr>
                                        </table>
                                    </td>
                                    <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D2%20top.png"></td></tr>
                                            <tr>
                                                <td>                                                    
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D2T"><b>Should I Eat Dark Chocolate?</b></div></td></tr>
                                                        <tr><td><div class="text">Cocoa is rich in flavonols, bitter antioxidant compounds that have been shown to be good for the heart. Dark chocolate has been linked to lowering blood pressure, which helps protect against heart disease, says Augusto Di Castelnuovo, PhD, in the department.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D2%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D2%20RM.png"></td></tr>          
                                                    </table></td>
                                            </tr>
                                            <tr><td><img src="images/D2%20bottom.png"></td></tr>
                                        </table>
                                    </td>
                                    <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D2%20top.png"></td></tr>
                                            <tr>
                                                <td>                                                    
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D2T"><b>How to Survive a Spaceship Disaster</b></div></td></tr>
                                                        <tr><td><img src="images/D2%20P2.png"></td></tr>
                                                        <tr><td><div class="text">Conditions were not ideal for Peter Siebold, a test pilot flying on Virgin Galactic’s SpaceShip Two, to survive.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D2%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D2%20RM.png"></td></tr>          
                                                    </table></td>
                                            </tr>
                                            <tr><td><img src="images/D2%20bottom.png"></td></tr>
                                        </table>
                                    </td>
                                    <td width="36"></td>                            
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%202%20footer.png"></td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%203%20header.png"></td>
                    </tr>
                    <tr>
                        <td id="deel3">                            
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="36"></td>
                                    <td >
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D3%20top.png"></td></tr>
                                            <tr>
                                                <td>
                                                
                                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td colspan="2"><div class="D3T" ><b>
                                                            How to Burn Off 24 Holiday Foods
                                                            </b></div></td></tr>
                                                        <tr>
                                
                                                            <td width="215">
                                                                <div class="text">That doesn’t sound like a lot, but think about it: if you pack on 2 pounds annually on fattening holiday foods, then you’ll be up 10 pounds by year five.</div></td></tr></div>
                                                            </td>                                                           
                                                        </tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D3%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td colspan="2"><hr></td></tr>
                                                        <tr>
                                                            <td><img src="images/D3%20RM.png"></td>
     
                                                        </tr>          
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr><tr><td><img src="images/D3%20tussen.png"></td></tr></tr>
                                            <tr>
                                                <td>                                
                                            <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td colspan="2"><div class="D3T" ><b>
                                                            Six Ways You're Using Olive Oil Wrong
                                                            </b></div></td></tr>
                                                        <tr>
                                                            <td width="215">
                                                                <div class="text">Everyone knows olive oil is great for your health and a staple of the Mediterranean diet.</div>
                                                            </td>                                                           
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D3%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                </td>
                                                
                                                        </tr>
                                                       <tr>
                                                           <td><hr></td> </tr>
                                                        <tr>
                                                            <td><img src="images/D3%20RM.png"></td>  
                                                        </tr>          
                                            </table> 
 
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D3%20bottom.png"></td></tr>
                                        </table>
                                    </td>
                                    <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D3%20top.png"></td></tr>
                                            <tr>
                                                <td>                                               
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D3T"><b>Should I Eat Dark Chocolate?</b></div></td></tr>
                                                        <tr><td><img src="images/D3%20P1.png"></td></tr>
                                                        <tr><td><div class="text">Cocoa is rich in flavonols, bitter antioxidant compounds that have been shown to be good for the heart. Dark chocolate has been linked to lowering blood pressure, which helps protect against heart disease, says Augusto Di Castelnuovo, PhD, in the department.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D3%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D3%20RM.png"></td></tr>          
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D3%20bottom.png"></td></tr>
                                        </table></td>
                                <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D3%20top.png"></td></tr>
                                            <tr>
                                                <td>                                      
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D3T"><b>How to Survive a Spaceship Disaster</b></div></td></tr>
                                                        <tr><td><img src="images/D3%20P2.png"></td></tr>
                                                        <tr><td><div class="text">Conditions were not ideal for Peter Siebold, a test pilot flying on Virgin Galactic’s SpaceShip Two, to survive.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D3%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D3%20RM.png"></td></tr>          
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D3%20bottom.png"></td></tr>
                                        </table></td>   
                                    
                                    <td width="36"></td>                            
                                </tr>
                            </table></td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%203%20footer.png"></td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%204%20header.png"></td>
                    </tr>
                    <tr>
                        <td id="deel4">                           
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="36"></td>
                                    <td >
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D4%20top.png"></td></tr>
                                            <tr>
                                                <td>                                             
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td ><div class="D4T" ><b>
                                                            How to Burn Off 24 Holiday Foods
                                                            </b></div></td></tr>
                                                        <tr>
                                                            <tr><td>
                                                        
                                                        <img src ="images/D4%20P1.png">
                                                                </td><td></tr>
                                                            <td width="215">
                                                                <div class="text">That doesn’t sound like a lot, but think about it: if you pack on 2 pounds annually on fattening holiday foods, then you’ll be up 10 pounds by year five.</div></td></tr></div>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D4%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D4%20RM.png"></td></tr>          
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D4%20bottom.png"></td></tr>
                                        </table>
                                    </td>
                                    <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D4%20top.png"></td></tr>
                                            <tr>
                                                <td>                                                    
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D4T"><b>Should I Eat Dark Chocolate?</b></div></td></tr>
                                                        <tr><td><div class="text">Cocoa is rich in flavonols, bitter antioxidant compounds that have been shown to be good for the heart. Dark chocolate has been linked to lowering blood pressure, which helps protect against heart disease, says Augusto Di Castelnuovo, PhD, in the department.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D4%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D4%20RM.png"></td></tr>          
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D4%20bottom.png"></td></tr>
                                        </table></td>
                                    <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D4%20top.png"></td></tr>
                                            <tr>
                                                <td>                                              
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D4T"><b>How to Survive a Spaceship Disaster</b></div></td></tr>
                                                        <tr><td><img src="images/D4%20P2.png"></td></tr>
                                                        <tr><td><div class="text">Conditions were not ideal for Peter Siebold, a test pilot flying on Virgin Galactic’s SpaceShip Two, to survive.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D4%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D4%20RM.png"></td></tr>          
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D4%20bottom.png"></td></tr>
                                        </table></td>
                                    <td width="36"></td>                            
                                </tr>
                            </table></td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%204%20footer.png"></td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%205%20header.png"></td>
                    </tr>    
                    <tr>
                        <td id="deel5">                            
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="36"></td>
                                    <td >
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D5%20top.png"></td></tr>
                                            <tr>
                                                <td>                                  
                                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td colspan="2"><div class="D5T" ><b>
                                                            How to Burn Off 24 Holiday Foods
                                                            </b></div></td></tr>
                                                        <tr>
                                
                                                            <td width="215">
                                                                <div class="text">That doesn’t sound like a lot, but think about it: if you pack on 2 pounds annually on fattening holiday foods, then you’ll be up 10 pounds by year five.</div></td></tr></div>
                                                            </td>                                                           
                                                        </tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D5%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td colspan="2"><hr></td></tr>
                                                        <tr>
                                                            <td><img src="images/D5%20RM.png"></td>
     
                                                        </tr>          
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr><tr><td><img src="images/D5%20tussen.png"></td></tr></tr>
                                            <tr>
                                                <td>                                
                                            <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td colspan="2"><div class="D5T" ><b>
                                                            Six Ways You're Using Olive Oil Wrong
                                                            </b></div></td></tr>
                                                        <tr>
                                                            <td>
                                                                <div class="text">Everyone knows olive oil is great for your health and a staple of the Mediterranean diet.</div>
                                                            </td>                                                           
                                                        </tr>

                                                        <tr>
                                                            <td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D5%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></td>
                                                
                                                        </tr>
                                                       <tr>
                                                           <td><hr></td> </tr>
                                                        <tr>
                                                            <td><img src="images/D5%20RM.png"></td>
  
                                                        </tr>          
                                            </table> 
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D5%20bottom.png"></td></tr>
                                        </table>
                                    </td>
                                    <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D5%20top.png"></td></tr>
                                            <tr>
                                                <td>
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D5T"><b>Should I Eat Dark Chocolate?</b></div></td></tr>
                                                        <tr><td><img src="images/D5%20P1.png"></td></tr>
                                                        <tr><td><div class="text">Cocoa is rich in flavonols, bitter antioxidant compounds that have been shown to be good for the heart. Dark chocolate has been linked to lowering blood pressure, which helps protect against heart disease, says Augusto Di Castelnuovo, PhD, in the department.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D5%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D5%20RM.png"></td></tr>          
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D5%20bottom.png"></td></tr>
                                        </table></td>
                                 <td width="16"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr><td><img src="images/D5%20top.png"></td></tr>
                                            <tr>
                                                <td>                                    
                                                    <table class="content" cellpadding="0" cellspacing="0">
                                                        <tr><td><div class="D5T"><b>How to Survive a Spaceship Disaster</b></div></td></tr>
                                                        <tr><td><img src="images/D5%20P2.png"></td></tr>
                                                        <tr><td><div class="text">Conditions were not ideal for Peter Siebold, a test pilot flying on Virgin Galactic’s SpaceShip Two, to survive.</div></td></tr>
                                                        <tr><td>                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images/D5%20Like.png"
                                                                        </td>
                                                                        <tb>
                                                                            0 people like this
                                                                        </tb>
                                                                    </tr>
                                                                </table></td></tr>
                                                        <tr><td><hr></td></tr>
                                                        <tr><td><img src="images/D5%20RM.png"></td></tr>          
                                                    </table> 
                                                </td>
                                            </tr>
                                            <tr><td><img src="images/D5%20bottom.png"></td></tr>
                                        </table></td>
                                    <td width="36"></td>                            
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="images/deel%205%20footer.png"</td>
                    </tr>
                    <tr>
                        <td><img src="images/footer.png"</td>
                    </tr>
                    <tr>
                        <td><img src="images/Bfooter.png"</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>